
.topNav {
  background-color: #f0f9ff;
  overflow: hidden;
  margin: 0;
  padding: 2px;
  -webkit-box-shadow: 3px 8px 12px lightsteelblue;
          box-shadow: 3px 8px 12px lightsteelblue;
}

.topNav span {
  border-radius: 9px;
  font-size: 40px;
  padding: 0;
  justify-content: center;
}

.container-fluid{
  margin-top: 14px;
}

.card-body {
   background-color: rgb(110, 51, 100);
   background-image: linear-gradient(to bottom, rgb(173, 216, 230), rgb(246, 252, 245));
}

/* Start Footer */

.footer {
  padding: 0;
  color: #f0f9ff;
  color: rgb(110, 51, 100);
  background-image: linear-gradient(to top, lightblue, lightsteelblue);
}

.footer-copyright {
  text-align: center;
  padding: 0;
  height: 30px;
}

.footer .item-social {
  text-align: center;
}

.footer .item-social a {
  width: 0;
  height: inherit;
  color: black;
  display: inline;
  padding: 10px;
}

.footer a:hover {
  opacity: 0.9;
  color: rgb(84, 170, 62);
}

.footer-copyright a {
  color: black;
}

.footer-copyright .item-social a:hover {
  opacity: 0.9;
  color: rgb(84, 170, 62);
}
