
.header {
  display: block;
}
h1 {
  text-shadow: 0 0 7px rgb(121, 228, 121), 0 5px 10px white, 0 5px 10px red, 0 0 10px black;
  color: rgba(12, 66, 24, 0.527);
  font-weight: bold;
  font-size: 49px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 42px;
  padding: 18px;
  padding-left: 30%;
  font-family: 'Black Ops One', cursive;
}

.card {
  padding-top: 14px;
  padding-left: 14px;
  background-color: rgb(107, 50, 50);
}

.card-body a {
  padding: 10px;
  border-radius: 14px;
  margin: 14px;
  float: left;
  box-shadow: 2px 4px 8px rgb(44, 82, 44), 2px 4px 8px rgb(121, 228, 121);
  
}

.card-body p {
  padding-top: 14px;
  padding-left: 20px;
  font-family: 'Original Surfer', cursive;
  font-size: 21px;
  color: #fff;
  margin-right: 40%;
  display: inline-block;
}

.card-img {
  width: 32%;
  border-radius: 21px;
  margin-top: 77px;
  float: left;
  margin-left: -425px;
}

.btn:hover {
  background-color: #437224;
}
