body  {
  background-color: rgb(2, 31, 44);
  margin: 14px;
}

.header {
 width: 100%;
 border: 1px solid rgb(0, 128, 0);
 border-radius: 4px;
 padding-left: 7px;
}

.bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.font-effect-3d {
  display: inline-block;
  padding-left: 10px;
  text-decoration: overline;
}

.birds-list {
  margin-top: 45px;
  background: #262626;
}

button {
  border-radius: 7px;
  background: rgb(17, 20, 36);
  border: none;
}
ul {
  margin-top: 2px;
  display: flex;
  position: absolute;
  left: 45%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
  margin: 0 14px;
}

ul li button {
  position: relative;
  padding-top: 5px;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: rgb(17, 20, 36);
  box-shadow: lightblue;
  border-radius: 35%;
  font-size: 20px;
  color: #333;
  transition: .5s;
}

ul li button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 35%;
  background: rgb(0, 128, 0);
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul li button:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(0, 128, 0);
}

ul li button:hover {
  color: rgb(0, 128, 0);
  box-shadow: 0 0 5px rgb(0, 128, 0);
  text-shadow: 0 0 5px rgb(0, 128, 0);
}

.wrapper {
  width: 100;
  margin: 18px;
}

 /* Humming Bird Styles */
.wrapper #slideshow .bird-details h1 {
  font-family: 'Sonsie One', cursive;
  color: #fff;
  text-shadow: 0 2px 4px rgb(163, 163, 163);
}

.wrapper #slideshow .bird-details p {
  font-family: 'Original Surfer', cursive;
  color: #fff;
}

.wrapper #slideshow .bird-details p span {
  color: rgb(4, 168, 209);
  font-size: 21px;
}

 /* Mocking Bird Styles */
.wrapper #slideshow2 .bird-details h1 {
  font-family: 'Sonsie One', cursive;
  color: #fff;
  text-shadow: 0 2px 4px rgb(163, 163, 163);
}

.wrapper #slideshow2 .bird-details p {
  font-family: 'Original Surfer', cursive;
  color: #fff;
}

.wrapper #slideshow2 .bird-details p span {
  color: rgb(4, 168, 209);
  font-size: 21px;
}

 /* Crow Styles */
.wrapper #slideshow3 .bird-details h1 {
  font-family: 'Sonsie One', cursive;
  color: #fff;
  text-shadow: 0 2px 4px rgb(163, 163, 163);
}

.wrapper #slideshow3 .bird-details p {
  font-family: 'Original Surfer', cursive;
  color: #fff;
}

.wrapper #slideshow3 .bird-details p span {
  color: rgb(4, 168, 209);
  font-size: 21px;
}

 /* Eagle Styles */
.wrapper #slideshow4 .bird-details h1 {
  font-family: 'Sonsie One', cursive;
  color: #fff;
  text-shadow: 0 2px 4px rgb(163, 163, 163);
}

.wrapper #slideshow4 .bird-details p {
  font-family: 'Original Surfer', cursive;
  color: #fff;
}

.wrapper #slideshow4 .bird-details p span {
  color: rgb(4, 168, 209);
  font-size: 21px;
}

 /* Vulture Styles */
.wrapper #slideshow5 .bird-details h1 {
  font-family: 'Sonsie One', cursive;
  color: #fff;
  text-shadow: 0 2px 4px rgb(163, 163, 163);
}

.wrapper #slideshow5 .bird-details p {
  font-family: 'Original Surfer', cursive;
  color: #fff;
}

.wrapper #slideshow5 .bird-details p span {
  color: rgb(4, 168, 209);
  font-size: 21px;
}

.wrapper h2 {
  text-align: center;
  padding-top: 2%;
  color: #fff;
  font-family: 'Sonsie One', cursive;
}
/* Gallery */
.container-all {
  width: 100%;
  margin: 20px auto;
  height: auto;
}

.container {
  width: 23%;
  overflow: hidden;
  margin: 3px;
  padding: 0;
  display: inline-block;
  position: relative;
  border-radius: 7px;
}

img {
  width: 100%;
  transition-duration: .3s;
  overflow: hidden;
  cursor: pointer;
}

.title {
  position: absolute;
  cursor: pointer;
  top: 35%;
  padding-bottom: 2px;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: 'Sonsie One', cursive;
  font-size: 1.6rem;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}

.text {
  position: absolute;
  top: 64%;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display: none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%);
}

.text2 {
  position: absolute;
  top: 66%;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display: none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%);
}

.text3 {
  position: absolute;
  top: 70%;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display: none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%);
}

.container:hover img {
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
  height: fit-content;
}

.container:hover span {
  color: #fff;
  display: block;
  transition-duration: .3s;
  opacity: .6;
}

@media only screen and (max-width: 900px) {
  .container {
    width: calc(50% - 6px);
  }
}

@media only screen and (max-width: 400px) {
  .container {
    width: 100%;
  }
}

.links i {
  border: 2px solid #333;
  border-radius: 5px;
  background-color: rgb(85, 39, 138);
  padding: 7px;
}

.links i:hover {
  box-shadow: 2px 4px 8px rgb(193, 139, 255);
}