body  {
  background-color: rgb(2, 31, 44);
  width: 100%;
}

.header {
 border-radius: 8px;
 padding: 14px;
 margin-left: 50%;
}

/* Nas */

#artist {
 margin-left: 8px;
}

.artist-image img {
  float: right;
  border-radius: 70px;
  margin-right: 21px;
}

.artist-image h1 {
  font-family: 'Black Ops One', cursive;
  color: rgb(4, 61, 4);
}

.artist-image p {
  font-size: 18px;
  font-family: none;
  color: rgb(184, 184, 184);
  padding: 14px;
}

/* Chronixx */
#artist1 {
 margin-left: 8px;
}

.artist1-image img {
  float: right;
  border-radius: 70px;
  margin-right: 21px;
}

.artist1-image h1 {
  margin-top: 40px;
  font-family: 'Black Ops One', cursive;
  color: rgb(4, 61, 4);
}

.artist1-image p {
  font-size: 18px;
  font-family: none;
  color: rgb(184, 184, 184);
  padding: 14px;
}

/* Jay-Z */

#artist2 {
 margin-left: 8px;
}

.artist2-image img {
  float: right;
  border-radius: 70px;
  margin-right: 21px;
}

.artist2-image h1 {
  margin-top: 40px;
  font-family: 'Black Ops One', cursive;
  color: rgb(4, 61, 4);
}

.artist2-image p {
  font-size: 18px;
  font-family: none;
  color: rgb(184, 184, 184);
  padding: 14px;
}

/* Nyashinski */

#artist3 {
 margin-left: 8px;
}

.artist3-image img {
  float: right;
  border-radius: 70px;
  margin-right: 21px;
  margin-bottom: 28px;
}

.artist3-image h1 {
  margin-top: 40px;
  font-family: 'Black Ops One', cursive;
  color: rgb(4, 61, 4);
}

.artist3-image p {
  font-size: 18px;
  font-family: none;
  color: rgb(184, 184, 184);
  padding: 18px;
}

/* Kendrick Lamar */

#artist4 {
 margin-left: 8px;
}

.artist4-image img {
  float: right;
  border-radius: 70px;
  margin-right: 21px;
}

.artist4-image h1 {
  margin-top: 82px;
  font-family: 'Black Ops One', cursive;
  color: rgb(4, 61, 4);
}

.artist4-image p {
  font-size: 18px;
  font-family: none;
  color: rgb(184, 184, 184);
  padding: 14px;
}

/* Protoje */

#artist5 {
 margin-left: 8px;
}

.artist5-image img {
  float: right;
  border-radius: 70px;
  margin-right: 21px;
}

.artist5-image h1 {
  margin-top: 60px;
  font-family: 'Black Ops One', cursive;
  color: rgb(4, 61, 4);
}

.artist5-image p {
  font-size: 18px;
  font-family: none;
  color: rgb(184, 184, 184);
  padding: 14px;
}

/* Eminem */

#artist6 {
 margin-left: 8px;
}

.artist6-image img {
  float: right;
  border-radius: 70px;
  margin-right: 21px;
}

.artist6-image h1 {
  margin-top: 60px;
  font-family: 'Black Ops One', cursive;
  color: rgb(4, 61, 4);
}

.artist6-image p {
  font-size: 18px;
  font-family: none;
  color: rgb(184, 184, 184);
  padding: 14px;
}

/* Others */

button {
  transition: .4s;
  font-size: 21px;
  margin: 14px;
  border-radius: 7px;
  color: rgb(0, 0, 0);
  background: rgb(138, 126, 60);
  border: none;
}

.container-all {
  width: 100%;
  margin: 20px auto;
  height: auto;
}

.container {
  width: 23%;
  overflow: hidden;
  margin: 3px;
  padding: 0;
  display: inline-block;
  position: relative;
  border-radius: 7px;
}

img {
  width: 100%;
  transition-duration: .3s;
  overflow: hidden;
  cursor: pointer;
}

.title {
  position: absolute;
  cursor: pointer;
  top: 35%;
  padding-bottom: 2px;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: 'Sonsie One', cursive;
  font-size: 1.6rem;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}

.text {
  position: absolute;
  top: 64%;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display: none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%);
}

.text2 {
  position: absolute;
  top: 66%;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display: none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%);
}

.text3 {
  position: absolute;
  top: 70%;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display: none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%);
}

.container:hover img {
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
  height: fit-content;
}

.container:hover span {
  color: #fff;
  display: block;
  transition-duration: .3s;
  opacity: .6;
}

@media only screen and (max-width: 900px) {
  .container {
    width: calc(50% - 6px);
  }
}

@media only screen and (max-width: 400px) {
  .container {
    width: 100%;
  }
}

.links i {
  float: right;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: rgb(85, 39, 138);
  padding: 7px;
}

.links i:hover {
  box-shadow: 2px 4px 8px rgb(193, 139, 255);
}